body{
    background:rgb(255, 255, 255);
}

.bar{
    height: 3rem;
    width: 30rem;
    background-color: aqua;
    border-radius: 3em;
}

mon {
    height: 300px;
    width: 500px; /* Adjust the height as needed */
  }